@model LibraryEn

@{
    var WId = 0;
    WId = Model == null ? 0 : Model.Id;
    string pict = "";
}

<div class="container" style="background-color:antiquewhite;">
    @if (Model == null)
    {
        <div style="text-align:center"><h1>@Localizer["Tittle"]</h1></div>
    }
    else
    {
        <div class="m-2" style="text-align:center"><h1>@Localizer["Update"] - @Model.WordEng</h1></div>
        <div class="container col-3 m-2" style="border:1px solid black;">
            @if (Model.Pict != null)
            {
                string imageBase64Data = Convert.ToBase64String(Model.Pict);
                string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
                pict = imageDataURL;
                <img class="card-img-top img-fluid m-2" src="@pict" >
            }
            @if (Model.SoundFilePath != null)
            {
                <audio class="testAudio" hidden src="~/sounds/@Model.SoundFilePath" type="audio/mpeg">
                </audio>
                <i class="bi bi-play-btn playAudio" style="font-size:30px; text-align:center;"></i>
            }
            
        </div>
    }
   

    <form method="post"
          asp-controller="Home" asp-action="AddWordsMethod"
          enctype="multipart/form-data" class="p-3"
          style="border:1px solid black;"    
    >
        <div class="validated" asp-validation-sumary="ModelOnly"></div>

        <div class="form-group" hidden>
            @if (Model == null)
            {
                <input asp-for="Id" value="@WId" class="form-control" />
            }
            else
            {
                <input asp-for="Id" value="@Model.Id" class="form-control" />
            }

        </div>

        <div class="form-group">
            <label>@Localizer["WordEn"]</label>
            <div class="col">
                <input asp-for="@Model.WordEng" class="form-control" />
                <span asp-validation-for="@Model.WordEng" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label>@Localizer["WordRu"]</label>
            <div class="col">
                <input asp-for="@Model.WordRus" class="form-control" />
                <span asp-validation-for="@Model.WordRus" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group m-2 p-2" style="background-color:aliceblue; border:1px solid black;">
            <label class="d-flex flex-row">@Localizer["Pic"]</label>
            <input type="file" id="file"
                   name="file"
                   multiple="multiple" accept=".jpg,.jpeg,.png" />
            <span asp-validation-for="Pict" class="text-danger"></span>
        </div>


        <div class="form-group m-2 p-2" style="background-color:aliceblue; border:1px solid black;">
            <label class="d-flex flex-row">@Localizer["Sound"]</label>
            <input type="file" id="Onefile"
                   name="fileOne"
                   multiple="multiple" accept=".mp3, .wav, .aif, .mid" />
            <span asp-validation-for="Pict" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>@Localizer["Thema"]</label>
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <select name="Thema" asp-items="@ViewBag.SelectList" class="mr-2">
                    </select>
                    <i class="bi bi-pencil-square pencil" style="font-size:30px;" id="bi_pensil"></i>
                </div>
                
                <div class="horizontal-space-evenly pb-2">
                    <input class="btn btn-success" type="submit" value="✓" />
                    <a href="/ShowWords" class="btn btn-danger">✕</a>
                </div>
            </div>
        </div>
       
    </form>
    <form method="get" asp-controller="Home"
          asp-action="AddWords"  
    >
        <label hidden id="label">@Localizer["Adding a new themes!"]</label>
        <input type="text" id="name_theme" hidden
               name="name" />
        @if (Model != null)
        {
             <input type="number" id="name_theme" hidden
               name="id" value="@Model.Id" />      
        }
       
        <button hidden class="btn btn-success" id="btn_themes" type="submit">✓</button>
    </form>

</div>


<script type="text/javascript">
    let elem = document.querySelector(".playAudio");
    let audio = document.querySelector(".testAudio");
    let pensil = document.getElementById("bi_pensil");
    

    pensil.addEventListener("click", function(){
        console.log(pensil);
    console.log(document.getElementById('file'));
    console.log(document.getElementById('btn_themes'));
        console.log(document.getElementById('label'));
        document.getElementById('name_theme').hidden = false;
        document.getElementById('btn_themes').hidden = false;
        document.getElementById('label').hidden = false;
    });
    
    console.log(elem);
    console.log(audio);

 

    if(elem!=null){
    elem.addEventListener("click", function () {
            audio.play();
        });
    }
        
   

</script>

