@model List<LibraryEnShow>

@{
    Random rand = new Random();
    Random randJoy = new Random();
    Random randUpset = new Random();
    int index = rand.Next(0, Model.Count);
    int iRanJoy = rand.Next(0, 10);
    int iRanUpset = rand.Next(0, 5);
    List<string> joy = new List<string>
    {
    "one.webp",
    "two.webp",
    "three.webp",
    "four.webp",
    "five.webp",
    "six.webp",
    "seven.webp",
    "eight.webp",
    "nine.webp",
    "ten.webp",
    };
    List<string> upset = new List<string>
    {
     "one.webp",
    "two.webp",
    "three.webp",
    "four.webp",
    "five.webp"
    };

}

<div class="container-fluid m-2" style="background-color:lightblue; border:1px solid black;">
    <h3 class="d-flex justify-content-center m-2">@Localizer["TitleThree"]</h3>
  <div class="container-fluid" style="text-align:center;">
      <div class="row">
            <div class="col-md-6">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">@Localizer["Words"]</th>
                            <th scope="col">@Localizer["True"]</th>
                            <th scope="col">@Localizer["False"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Count</td>
                            <td>@ViewBag.right</td>
                            <td>@ViewBag.NotRight</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="col-4">
                                @if (ViewBag.isError != null)
                                {
                                    @if (ViewBag.IsError)
                                    {
                                        <img src="/joy/@joy[iRanJoy]" class="img-fluid" />
                                    }
                                }
                            </td>
                            <td class="col-4">
                                @if (ViewBag.isError != null)
                                {
                                    @if (!ViewBag.IsError)
                                    {
                                        <img src="/upset/@upset[iRanUpset]" class="img-fluid"/>
                                    }
                                }
                            </td>

                            
                        </tr>
                    </tbody>
                </table>
                <div class="row d-flex justify-content-center"><h6>Help. Click!</h6></div>
                <div class="row d-flex justify-content-center"><i class="bi bi-question-octagon-fill icon" style="font-size:20px;"></i></div>
            </div>
            <div class="col-md-6" style="border:1px solid black;">
                @if (Model[index].Pict != null)
                {
                    <img src="@Model[index].Pict" class="img-fluid imgFront" hidden/>
                }
                
                    <img src="/english.jpg" class="img-fluid imgBack"/>
                
                
                @if (Model[index].Sound != null)
                {
                    <audio class="testAudio" hidden src="~/sounds/@Model[index].Sound" type="audio/mpeg">
                    </audio>
                    <i class="bi bi-play-btn playAudio" hidden style="font-size:30px; text-align:center;"></i>
                }
                <div>
                    <i class="bi bi-arrow-repeat text-center help" hidden style="font-size:30px;"></i>
                    <p class="text-center text-help" hidden>@Model[index].WordEng</p>
                </div>
                
                
            </div>
    
            
      </div>
       
  </div>
   <div class="m-2" style="text-align:center;">
        <h4>@Model[index].WordRus</h4>
        @{
            ViewBag.wordRu = Model[index].WordRus;
        }
        <form method="post" asp-controller="Lesson" asp-action="Check" asp-route-wordRu="@ViewBag.wordRu">
            <input type="text" name="word">
            <div>
                <button type="submit" class="btn btn-outline-dark m-2">@Localizer["Check"]</button>
            </div>
        </form>
   </div>
  
</div>

            <script>

                let icon = document.querySelector(".icon");
                let imgBack = document.querySelector(".imgBack");
                let imgFront = document.querySelector(".imgFront");
                let playAudio = document.querySelector(".playAudio");
                let help = document.querySelector(".help");
                let text_help = document.querySelector(".text-help");
         
                if(imgFront!=null || playAudio!=null)
                {
                        console.log(icon);
                        icon.addEventListener("click", ()=>{
                       //console.log(playAudio);
                        imgBack.hidden = true;
                        imgFront.hidden = false;
                        playAudio.hidden = false;
                        help.hidden= false;
                        });
                        let audio = document.querySelector(".testAudio");
                        //console.log(audio);

                        help.addEventListener("click", ()=>{
                            if (!text_help.hidden)
                            text_help.hidden = true;
                            else 
                            text_help.hidden = false;
                        });

                        playAudio.addEventListener("click", function () {
                        audio.play();
                                 });
                         }
                   

    

            </script>