@model EnglishWebSimulatorAppUser;
@{
    string pict = "";
}

@if(Model.Pict != null){
    string imageBase64Data = Convert.ToBase64String(Model.Pict);
    string imageDataURL = string.Format("data:image/png;base64,{0}", imageBase64Data);
    pict = imageDataURL;
}



<div class="container d-flex justify-content-center align-items-center pt-3 pb-3" style="background-color:lightgray;" >
    <div class="card">

        <div class="upper">       
                <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
        </div>

        <div class="user text-center">

            <div class="profile">
                @if (Model.Pict == null)
                {
                    <img src="/img/userNull.png" width="80" class="rounded-circle img-fluid mt-3" style="border:1px solid black;">
                }
                else
                {
                    <img src="@pict" class="rounded-circle mt-3" width="80" style="border:1px solid black;" >
                }
                <form method="post" enctype="multipart/form-data" asp-controller="Lesson"
                asp-action="UpdateImgUser">
                    <input type="file" id="file" hidden
                           name="file"
                           multiple="multiple" accept=".jpg,.jpeg,.png" />
                    <i class="bi bi-pencil-square pencil" style="font-size:30px;"></i>
                    <button hidden class="btn_click" type="submit"></button>
                </form>
                
            </div>

        </div>


        <div class="text-center">

            @if (Model.NameImg == null)
            {
                <div class="m-3 mb-0 setNameTxt">
                    <p>@Localizer["String1"]</p>
                </div>
            }
            else
            {
                <h4 class="mb-0 setNameTxt">@Model.NameImg</h4>
            }
            <form method="get" hidden asp-controller="Lesson" asp-action="SetNameAvatar"  id="formNameImg">
                <div class ="p-3 d-flex flex-row">
                    <div class="mr-2">
                        <input type="text" name="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">✓</button>
                </div>        
                
            </form>
            <i class="bi bi-pencil-fill setName mt-0"></i>
            <!--
            <span class="text-muted d-block mb-2">Los Angles</span>
            <button class="btn btn-primary btn-sm follow">Follow</button>
            -->
            @if (!String.IsNullOrEmpty(Model.PhoneNumber))
            {
                <div class="d-flex flex-row justify-content-center">
                    <i class="bi bi-telephone"></i>
                    <span class="text-muted d-block mb-2">@Model.PhoneNumber</span>
                </div>
            }
           


            <div class="d-flex justify-content-between align-items-center mt-4 px-4">

                <div class="stats">
                    <h6 class="mb-0">@Localizer["String2"]</h6>
                    <span>@ViewBag.Words</span>
                </div>

                <div class="stats">
                    <h6 class="mb-0">@Localizer["String3"]</h6>
                    <span>@ViewBag.Point</span>
                </div>

                <div class="stats">
                    <h6 class="mb-0">@Localizer["String4"]</h6>
                    <span>@ViewBag.Count </span>
                </div>

            </div>
        </div>
    </div>
</div>

                <script>
                    let form = document.getElementById("file");
                    let btn = document.querySelector(".btn_click");
                    

                 document.querySelector(".pencil").addEventListener("click", function(){
                    form.click();
                    form.addEventListener("change", function(){
                        if(this.value){
                        document.querySelector(".btn_click").click();
                        }
                    });
                });
      
                document.querySelector(".setName").addEventListener('click', function(){
                    console.log("Hello");
                    document.querySelector(".setNameTxt").hidden = true;
                    document.getElementById("formNameImg").hidden = false;
                   this.hidden = true;
                });



                </script>